html {
  font-family: Arial, Helvetica, sans-serif; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background-color: #fff;
  padding: 0px;
  border: 0px;
  margin: 1.5em 0px 0px 0px;
  background-image: url("images/homePage.jpg");
  background-repeat: no-repeat;
  background-size: 150% 551px;
  overflow-x: hidden; }

hr {
  border: 0;
  height: 0.280em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.095), rgba(0, 0, 0, 0)); }

/*START OF HEADER*/
header {
  width: 100%;
  border: 2px solid transparent;
  margin-right: auto;
  margin-left: auto; }

#logo {
  width: 4.5125em;
  height: 2.5125em;
  margin-left: 1em; }

.header, .justify, h6 {
  color: #fff;
  width: 180px;
  font-family: "Arial Black", Gadget, sans-serif;
  border: 1px solid transparent;
  padding: 2px;
  margin: 0px 0px -8px 5px; }

.justify {
  letter-spacing: 4px; }

h6 {
  font-family: 'Advent Pro', Tahoma, Geneva, sans-serif;
  margin: 7px 0 0 -17.4em; }

#logo, .header, .justify, h6 {
  float: left; }

/*END OF HEADER*/
/*START OF NAV*/
nav {
  display: inline-block;
  float: right;
  width: 380px;
  height: 100px;
  padding: 2px;
  border: 2px solid transparent;
  margin: -2.2em 1.5em 0 0; }
  nav ul {
    background: transparent;
    margin: 0;
    margin-left: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block; }
  nav a {
    color: #fff;
    padding: 40px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; }
  nav a.active {
    border-bottom: 3.75px solid #91BF2C; }
  nav a:hover {
    color: #91BF2C; }

/*END OF NAV*/
/*START OF NAV-MOBILE*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 1px 5px;
  font-size: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 35px; }

.dropdown {
  display: none;
  float: left;
  border: 2px solid #fff;
  padding: 0px;
  margin: -1.8em 20px 2px 2px;
  border-radius: 3px; }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: transparent;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold; }

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #91BF2C;
  border-bottom: 3.75px solid #91BF2C; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: transparent; }

/*END OF NAV-MOBILE*/
/*START OF HOMEPAGE*/
#home {
  clear: both;
  padding: 0px;
  border: 2px solid transparent;
  margin: 40px auto -20 auto;
  width: 100%; }

#homePage {
  padding: 0px;
  border: 2px solid transparent;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

h1 {
  border: 2px solid transparent;
  width: 395px;
  font-size: 3.50em; }

.homeHeader, .homeHeader2 {
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto; }

.homeHeader2 {
  margin-top: -1.60em;
  margin-bottom: 0; }

#homeParagraph {
  color: #fff;
  text-align: center;
  line-height: 150%;
  margin: 0 auto -20px auto;
  border: 2px solid transparent;
  padding: 20px; }

#contactLink {
  text-decoration: underline;
  color: #fff; }

#homeButtons{
  Width:375px;
  Height:100px;
  Padding:0;
  Border:2px solid transparent;
  Margin:0 auto -50px auto;
}
.mainButton, .mainButton2 {
  Float:center;
  color: #fff;
  padding: 1px;
  border: 3px solid #91BF2C;
  border-radius: 3.999px;
  margin: 2em auto 2px auto;
  background-color: #91BF2C;
  font-size: 17px;
  width: 175px;
  Height:100px;
  display: inline-block;
  cursor: pointer; }

.mainButton2 {
  text-decoration: none;
  background-color: rgba(242, 242, 242, 0.2);
  border: 3px solid transparent;
  margin: 2px auto 2px auto; }

/*END OF HOMEPAGE*/
/*START OF PROJECTS*/
#projectsContainer {
  margin-top: -95px; 
Pointer-events:none;}

#proj {
  padding: 0px;
  border: 4px solid transparent;
  margin: auto;
  text-align: center; }

.projPics {
  width: 430px;
  height: 260px; }

svg, text {
  display: block;
  padding: 0px;
  border: 2px solid transparent;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 30px; }

.tags {
  display: inline-block;
  padding: 1px  1px 1px 1px;
  border: 2px solid transparent;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 30px; }

.tags:nth-child(3) {
  @extends .tags;
  width: 80px;
  height: 30px; }

.tags1 {
  display: inline-block;
  @extends .tags;
  width: 128px;
  height: 30px; }

figcaption {
  color: #999999; }

h3 a {
  text-decoration: none;
  color: #333333;
  font-size: 30px; }

/*END  OF PROJECTS*/
/*STARTOF GOOGLE MAPS*/
#map {
  width: 100%;
  height: 200px;
  border: 1px solid transparent;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/*END OF GOOGLE MAPS*/


/*START OF CONTACT PAGE*/
#contact {
  width: 100%;
  Padding-left:70px;
  Padding-right:70px;
  position: relative; }

#contact1 {
  width: 250px;
  border: 1px solid transparent;
  padding: 15px;
  margin:0;
  margin-left: auto;
  margin-right: 0;
  float: left;
  display: inline-block; }

.me {
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: -60px auto 0px auto;
  display: block;
  padding: 0; 
Z-index:2;}

#contactNo {
  display: block;
  padding: 0px 2px;
  border: 2px solid transparent;
  margin: 0 auto 25px auto;
  width: 157px;
  font-weight: bold; }

#social {
  display: block;
  border: 2px solid transparent;
  margin: 0 auto 30px auto;
  width: 125px; }

#contact2 {
  display: inline-block;
  float: right;
  width: 384px;
  padding: 0 45px;
  border: 2px solid transparent;
  margin: 0 auto 0 0; }

form {
  float: left;
  display: inline-block;
  padding: 0 20px;
  margin: 0 auto 0 auto;
  border: 2px solid transparent; }

.contactMe {
  display: inline-block;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
  height: 32px;
  padding: 5px 15px;
  border: 2px solid transparent;
  margin: 7px auto;
  font-size: 15px; }

textarea {
  display: inline-block;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 15px;
  margin: 10px auto;
  border: 2px solid transparent;
  resize: none;
  font-family: Arial, Helvetica, sans-serif; }

input[type=text], textarea, input[type=email]:focus, input[type=tel]:focus{
  @include transition(all 0.30s ease-in-out);
  outline: none;
}
 
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=tel]:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  border: 1px solid rgba(81, 203, 238, 1);
}
#submitButton {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #91BF2C;
  margin: 0 0 15px 0;
  width: 90px;
  height: 35px;
  border-radius: 7px;
  font-weight: 900;
  font-size: 12px;
  color: #91BF2C;
  float: right; }

/*END OF CONTACT PAGE*/
/*2.7START OF FOOTER*/
footer {
  clear: both;
  display: block;
  width: 100%;
  height: 16em;
  background-color: #f2f2f2;
  font-size: 12px;
  padding: 0;
  margin: 50px 0 0 0;
  border: 2px solid transparent;
  text-align: center; }

ul {
  list-style-type: none;
  border: 2px solid transparent;
  padding: 70px 0;
  margin: 0; }

li {
  display: inline-block;
  color: #999999;
  padding: 2px 0;
  border: 2px solid transparent;
  margin: 15px;
  width: 82px; }

.footer {
  color: #999999; }

/*END OF FOOTER*/

/*# sourceMappingURL=newstyle.css.map */
